<div class="col-md-3 filter-by-block md-margin-bottom-60">
    <img class="img-responsive profile-img margin-bottom-20" src="../assets/team/5.jpg" alt="">
    <h1>Filter By</h1>
    <div id="accordion" class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
               Brands
              <i class="fa fa-angle-down"></i>
            </a>
          </h2>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul class="list-unstyled checkbox-list">
              <li>
                <label class="checkbox">
                  <input type="checkbox" checked="" name="checkbox">
                  <i></i>
                  Calvin Klein                  
                </label>
              </li>
              <li>
                <label class="checkbox">
                  <input type="checkbox" checked="" name="checkbox">
                  <i></i>
                  Calvin Klein                  
                </label>
              </li>
              <li>
                <label class="checkbox">
                  <input type="checkbox" checked="" name="checkbox">
                  <i></i>
                  Calvin Klein                  
                </label>
              </li>
              <li>
                <label class="checkbox">
                  <input type="checkbox" checked="" name="checkbox">
                  <i></i>
                  Calvin Klein                  
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
</div>
<!--End Left Sidebar-->

<div class="col-md-9">
    <!--Profile Body-->
    <div class="profile-body margin-bottom-20">
        <!--Profile Blog-->
        <% @cooks.each do |cook| %>
        <div class="row margin-bottom-20">
          <!-- <div class="col-sm-6"> -->
              <div class="profile-blog">
                  <%= image_tag(cook.photo_url(:thumb), class: "img-responsive rounded-x") %>
                  
                  <div class="name-location">
                      <span><strong><a href="/cooks/<%=cook.id%>/profile"><%= cook.first_name %></a></strong></span>
                      <span><i class="fa fa-map-marker"></i><a href="#"><%= cook.address %></a></span>
                  </div>
                  <div class="clearfix margin-bottom-20"></div>    
                  <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                  <hr>
                  <ul class="list-inline share-list">
                      <li><i class="fa fa-bell"></i><a href="#">12 Notifications</a></li>
                      <li><i class="fa fa-group"></i><a href="#">54 Followers</a></li>
                      <li><i class="fa fa-share"></i><a href="#">Share</a></li>
                  </ul>
              </div>
          <!-- </div>         -->

                <!-- <div class="col-sm-6">
                    <div class="profile-blog">
                        <img class="rounded-x" src="../assets/testimonials/img4.jpg" alt="">
                        <div class="name-location">
                            <strong>Natasha Kolnikova</strong>
                            <span><i class="fa fa-map-marker"></i><a href="#">Moscow,</a> <a href="#">Russia</a></span>
                        </div>
                        <div class="clearfix margin-bottom-20"></div>    
                        <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                        <hr>
                        <ul class="list-inline share-list">
                            <li><i class="fa fa-bell"></i><a href="#">37 Notifications</a></li>
                            <li><i class="fa fa-group"></i><a href="#">46 Followers</a></li>
                            <li><i class="fa fa-share"></i><a href="#">Share</a></li>
                        </ul>
                    </div> 
                </div>   -->  
            
        </div><!--/end row-->  
        <% end %> 
        <!--End Profile Blog-->

        <button type="button" class="btn-u btn-u-default btn-block text-center">Load More</button>   
        <!--End Profile Blog-->
    </div>
    <!--End Profile Body-->
</div>